*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    margin: 0%;
}
nav{
    display:flex;
    justify-content: flex-end;
    padding-right: 5%;
    background-color: chartreuse;
    width:100%;
    gap:20px;
}
nav p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 1.3em;;
    height:70px;
    width:100px;
    margin:10px 0;
    transition: transform 200ms ease-in-out;
}
nav p:hover{
    background-color: hsl(90, 100%, 40%);
    transform: scale(1.1);
    border-radius: 10px;
}
@media (min-width:600px){
    nav p{
        font-size: 1.5em;
        font-weight: 300;
    }
    nav{
        gap:40px;
    }
}